.credit__link {
  color: var(--color-neutral-light);
}
.credit__link:hover {
  color: var(--color-accent-blue);
}
.credit__link:active {
  color: var(--color-accent-green);
  text-decoration: underline;
}
