.home__bg {
  background-image: url("../../images/bg_home.png");
  opacity: 0.06;
}

.home__header__animated-line {
  display: inline;
}

.home__header__animated-line--disabled {
  opacity: 0;
}

.home__header__tech-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.home__header__img {
  opacity: 0.2;
}

.home__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.home__header__title {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  padding: 0px 20px;
  box-sizing: border-box;
}
.home__header__subtitle {
  text-align: center;
  font-size: 22.5px;
}

.home__about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.home__about__right {
  min-width: 200px;
  width: 100%;
  max-width: 50%;
  order: 2;
}

.home__about__left {
  min-width: 200px;
  max-width: 50%;
  min-height: 487px; /*  */
  padding-right: 20px;
  box-sizing: border-box;
  order: 1;
}

/* Media query for re-ordering post-card elements on wrap */
@media (max-width: 524px) {
  .home__about__left {
    order: 2 !important;
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
  }
  .home__about__right {
    order: 1 !important;
    flex-grow: 1;
    max-width: 100%;
    min-width: 0px;
    width: 100%;
  }
  .home__about__stamp {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    width: 100%;
  }
}

.home__about__techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding-top: 20px;

  width: 100%;
}

.home__about__title {
  margin-top: 0;
}

.home__bullet-list {
  font-size: 18.75px;
  color: var(--color-neutral-light);
}

.home__about__stamp {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.home__featured__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home__featured__info {
  width: 50%;
}

.home__about__info-field {
  border-bottom: 1px solid var(--color-neutral-grey);
  color: var(--color-neutral-grey);
  font-size: 30px;
}

.home__featured__info__title {
  margin-top: 0;
}

.home__featured__carousel__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
}

.home__featured__techs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;

  padding-top: 20px;

  width: 100%;

  box-sizing: border-box;
}

@media (max-width: 768px) {
  .home__featured__container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .home__featured__carousel__container {
    width: 100%;
  }
  .home__featured__info {
    width: 100%;
    padding-bottom: 40px;
  }
}

.home__featured__carousel img {
  display: block;
}

.carousel {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  box-sizing: border-box;
}

.carousel .control-dots {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 100;
}
.hidden {
  visibility: hidden;
}
.carousel__next {
  height: 82.2%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  right: 0;

  width: 10%;
  max-width: 80px;
  padding: 2.5%;
  filter: brightness(50%);
}
.carousel__prev {
  height: 82.2%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;

  width: 10%;
  max-width: 80px;
  padding: 2.5%;
  filter: brightness(50%);
}
.carousel__next:hover {
  cursor: pointer;
  filter: brightness(100%);
}
.carousel__prev:hover {
  cursor: pointer;
  filter: brightness(100%);
}
