.button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
  width: min-content;

  background-color: transparent;
  border: none;
  padding: 0;
}

.button:hover {
  cursor: pointer;
}
.button:hover .button__text {
  color: var(--color-accent-blue);
}
.button:hover .button__submit {
  color: var(--color-accent-blue);
  border-left: transparent;
}

.button:active {
  cursor: pointer;
}
.button:active .button__text {
  color: var(--color-accent-green);
  text-decoration: underline;
}
.button:active .button__submit {
  color: var(--color-accent-green);
  text-decoration: underline;
}

.button__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 75px;

  padding: 5px 20px;
  padding-right: 40px;
  padding-top: 6px;

  border: 1px solid var(--color-neutral-light);
  box-sizing: border-box;
}
.button__text--image {
  border-left: 0px solid transparent !important;
  padding-left: 0px !important;
}

.button__submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 75px;

  padding: 5px 20px;
  padding-top: 8px;

  border: 1px solid var(--color-neutral-light);
  border-left: transparent;
  box-sizing: border-box;
}

.button__icon-container {
  width: 75px;
  height: 75px;
  padding: 12.5px;
  border: 1px solid var(--color-neutral-light);
  border-right: transparent;
  box-sizing: border-box;
}
.button__icon {
  object-fit: contain;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .button__icon-container {
    width: 50px;
    height: 50px;
    padding: 7.5px;
  }
  .button__text {
    padding: 7.5px 5px;
    font-size: 18.75px;
    height: 50px;
  }
  .button__submit {
    height: 50px;
    padding: 7.5px;
    font-size: 18.75px;
  }
  .button {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }
}
