.tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 5px;

  width: 100px;
}

.tech__img {
  width: 80px;
  height: 80px;

  object-fit: contain;
}

.tech__title {
  margin: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .tech {
    width: 80px;
  }
  .tech__img {
    width: 60px;
    height: 60px;
  }
  .tech__title {
    font-size: 15px;
  }
}
