.navbar-button {
  width: fit-content;
  padding: 10px;
  border: 2px solid var(--color-neutral-light);
  color: var(--color-neutral-light);
  background-color: var(--color-neutral-dark);
  box-sizing: border-box;
}

.navbar-button:hover {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
}
